@model Biblioteka_ASP.Models.Ksiazki

@{
    ViewData["Title"] = "Usuń Książkę";
}

<h2>Usuń Książkę</h2>

<h3>Czy na pewno chcesz usunąć książkę "@Model.Tytul"? </h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">Autor</dt>
        <dd class="col-sm-10">@Model.Autor</dd>
        <dt class="col-sm-2">Rok Wydania</dt>
        <dd class="col-sm-10">@Model.Rok_Wydania</dd>
        <dt class="col-sm-2">Gatunek</dt>
        <dd class="col-sm-10">@(Model.Gatunki?.Gatunek ?? "Brak gatunku")</dd>
        <dt class="col-sm-2">Ilość Dostępna</dt>
        <dd class="col-sm-10">@Model.Ilosc_Dostepna</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.ID_Ksiazki" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Powrót</a>
    </form>
</div>

